numpy >= 1.22.2
pandas >= 1.2.2
matplotlib >= 3.3.4
scikit-learn>=0.24.1              
scipy>=1.6.1
joblib >= 1.0.1
umap-learn >= 0.5.3
tensorflow >= 2.9.1
torchsumary >= 1.5.1
torch 1.12.0 
torchvision  >=  0.13.0
